<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\web app\App_Data\Database1.mdf;Integrated Security=True;Connect Timeout=30"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
		<handlers>
			<add name="captcha1" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
		</handlers>
  </system.webServer>
</configuration>